[Desktop Entry]
Name=Pyrite
Comment=OpenSSL & GnuPG (gpg) encryption/signing front-end
Exec=pyrite
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/pyrite.svg
Categories=GNOME;Security

